PyQt6
matplotlib

pandas
numpy

scikit-learn
xgboost
joblib

openpyxl

camelot-py
opencv-python; platform_system == "Windows"
opencv-python-headless; platform_system == "Linux"
opencv-python; platform_system == "Darwin"
pdf2image
pytesseract

python-docx
reportlab
